/* Button */

.button {
  border-radius: 4px;
  background-color: hsla(0, 72%, 29%, 1);
  text-align: center;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 1);
  transition: 0.25s;
  letter-spacing: 0.1em;
}

.button:hover {
  background-color: hsla(0, 72%, 29%, 0.8);
  color: hsla(0, 0%, 100%, 1);
}
