/* Footer */

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 0;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  background-color: hsla(48, 47%, 84%, 1);
}

footer img {
  align-self: center;
  justify-self: center;
}

footer .links {
  display: grid;
  grid-gap: 0.5rem;
  font-size: 0.9em;
  letter-spacing: 0.02em;
}

footer .links h4 {
  margin-bottom: 0.3rem;
}

footer a {
  color: hsla(88, 100%, 25%, 1);
}

@media only screen and (max-width: 810px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
  }

  footer img {
    grid-column: 1 / span 3;
  }
}

@media only screen and (max-width: 490px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  footer img {
    grid-column: auto;
  }
}
