/* Header */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 22rem 1fr 22rem;
  align-items: center;
  padding: 0.75rem 5rem;
  font-size: 0.875rem;
  background-color: hsla(273, 52%, 26%, 1);
}

.guitar {
  justify-self: end;
  display: flex;
  align-items: center;
  padding: 0.875rem 1rem;
}

.guitar img {
  padding-left: 0.625rem;
}

@media only screen and (max-width: 1100px) {
  header {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .guitar {
    justify-self: auto;
  }
}
